# SPDX-FileCopyrightText: 2025 Andrey Kotlyar <guitar0.app@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: ["--strict"]
        name: mypy
        entry: pdm run mypy
        language: system
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: pytest-unit
        name: Run unit tests
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
        args: ["--maxfail=1", "--cov-fail-under=0"]
        stages: [pre-commit]
      - id: pytest-integration
        name: Run integration tests
        entry: pytest
        language: system
        pass_filenames: false
        args: ["-m", "integration"]
        stages: [manual]

  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.2.0
    hooks:
      - id: reuse
        name: Check SPDX license compliance
